:root {
    --dialog-border-color: gray;
    --dialog-separator-color: var(--secondary-bg-color);
}

::backdrop {
    background-color: var(--secondary-bg-color);
    opacity: 1;
}

dialog:open {
    margin: auto;
    min-height: 50%;
    min-width: 50%;
    border: 0;
    border-radius: var(--border-radius-size);
}

/* Modal Content Styles */

.modal-personal-details {
    text-align: center;
}

.modal-personal-details > h3 {
    font-size: clamp(1.5rem, 0.5rem + 2vw, 3rem);
}

.modal-skills > h3, 
.modal-experience > h3, 
.modal-education > h3, 
.modal-education > ul {
    border-bottom: 1px solid var(--dialog-separator-color);
}

/* Display */

dialog ul > li {
    margin-bottom: 0.25rem;
}

.modal-experience-header, .modal-education-header {
    display: flex;
    justify-content: space-between;
}

.modal-experience-header > p, .modal-education-header > p {
    font-style: italic;
}

.edit-button {
    display: flex;
    justify-content: center;
    margin: 1rem auto 0;
    padding: 0.25rem 1rem;
    border-radius: var(--border-radius-size);
    border: 0;
}