@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

/* CSS Resets */

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    margin: 0;
}
  
@media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
}
  
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

/* General Styles */

:root {
    --primary-bg-color: white;
    --secondary-bg-color: #F3EEE8;
    --primary-color: black;
    --secondary-color: #FF9398;
    --secondary-color-alt: #2779A7;
    --border-radius-size: 16px;
}

body {
    padding: 0.5rem clamp(0.5rem, 0.25rem + 1.5vw, 2rem);
    font-family: "Roboto", sans-serif;
}